:root{
  font-size: 10px;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-size: 1.6rem;
}

#app {
  max-width: 36rem;
  padding: 2rem;
  text-align: center;
}

.heading {
  color: #80f;

  &.primary {
    color: #0f0;
  }
}